@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;1,700&display=swap');

$primary-colour-1: hsl(12, 88%, 59%);
$primary-colour-2: hsl(228, 39%, 23%);

$secondary-solour-1: hsl(227, 12%, 61%);
$secondary-solour-2: hsl(233, 12%, 13%);
$secondary-solour-3: hsl(13, 100%, 96%);
$secondary-solour-4: hsl(0, 0%, 98%);

$font-small: 0.75em;
$font-medium: 2em;
$font-large: 3em;

$small-spacer: 1em;
$medium-spacer: 2em;
$large-spacer: 4em;

* {
    size: 16px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: hsl(233, 12%, 13%);
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 150px -5%;

    p,
    li {
        line-height: 2em;
        color: $secondary-solour-1;
    }
}

.sr-only {
    display: none;
}

main,
footer,
.cta-bar {
    padding: $small-spacer;
}

li {
    list-style: none;
}

button {
    color: hsl(0, 0%, 98%);
    background-color: hsl(12, 88%, 59%);
    border: 1px transparent dotted;
    border-radius: 30px;
    padding: $small-spacer $medium-spacer;
    height: 4em;
    font-weight: 700;
}

button:hover {
    color:hsl(13, 100%, 96%);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: $medium-spacer;
    align-items: center;

    .logo {
        width: 10em;
        padding: $small-spacer;
        align-self: start;
    }

    nav {
        width: 50%;
        display: none;
        ul {
            display: flex;
            justify-content: space-between;
        }
    }

    button {
        display: none;
    }

    .menu-toggle__icon {
        width: 1.5em;
        height: 4px;
        display: block;
        background-color: hsl(233, 12%, 13%);
        position: relative;
        z-index: 5;

        &::before,
        &::after {
            width: 100%;
            content: '';
            height: 4px;
            display: block;
            background-color: hsl(233, 12%, 13%);
            position: absolute;
            left: 0;
        }

        &::before {
            transform: translateY(8px);
        }

        &::after {
            transform: translateY(-8px);
        }
    }

}

main {
    display: flex;
    flex-direction: column;

    .main__stat-charts img {
        width: 100%;
    }

    .main__intro,
    .main__text {
        text-align: center;
        margin-bottom: 5em;

        h1 {
            font-size: $font-large;
        }

        h2 {
            font-size: $font-medium;
        }
    }

    .main__promotion--item {
        display: grid;
        grid-template-columns: 4em auto;
        grid-template-rows: auto auto;

        h3 {
            margin: 0;
            background-color: hsl(12, 88%, 59%);
            padding: 0.5em;
            border-radius: 30px;
            width: 100%;
            text-align: center;
            color: hsl(0, 0%, 98%);
            z-index: 1;
        }

        h4 {
            margin: 0;
            justify-self: start;
            font-weight: 700;
            padding: 0.5em $medium-spacer;
            background-color: hsl(13, 100%, 96%);
            width: 200%;
            transform: translateX(-$small-spacer);
        }

        p {
            grid-column-start: 1;
            grid-column-end: 3;
            font-weight: 300;
            color: hsl(227, 12%, 61%);
        }
    }
}


.slideshow {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;

    h2 {
        font-size: 2em;
        font-weight: bolder;
    }

    .slideshow__slider {
        display: flex;
        width: 400%;
        padding: 3em 0;
        overflow: hidden;

        .slideshow__slider--item {
            width: 100%;
            padding: $medium-spacer $small-spacer 0 $small-spacer;
            margin: 0.5em;
            background-color: hsl(0, 0%, 98%);
            position: relative;

            p {
                color: hsl(227, 12%, 61%);
            }

            .avatar {
                width: 5em;
                position: absolute;
                top: 0em;
                transform: translate(-50%, -50%);
            }
        }
    }

    button {
        display: block;
        margin: $small-spacer auto;
    }
}

.cta-bar {
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-size: cover;
    background-color: hsl(12, 88%, 59%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $large-spacer $medium-spacer;

    h2 {
        font-size: $font-large;
        text-align: center;
        color:hsl(13, 100%, 96%);
    }

    &__button {
        color: hsl(12, 88%, 59%);
        background-color: hsl(0, 0%, 98%);

        &:hover {
            cursor: pointer;
            color: hsl(13, 100%, 96%);
        }
    }
}

footer {
    background-color: hsl(233, 12%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .footer__form {
        padding: $small-spacer;
        display: flex;
        margin-top: $medium-spacer;
        width:400px;

        &--text-field {
            padding: 0 2em;
            border-radius: 30px;
            height: 4em;
            color: hsl(227, 12%, 61%);
        }

        &--button {
            margin: 0 $medium-spacer;
        }
    }


    .footer__shortcuts {
        display: flex;
        justify-content: space-evenly;
        padding: $small-spacer;

        ul {
            display: flex;
            flex-flow: column;

            li {
                color: hsl(0, 0%, 98%);
                text-align: left;
                display: block;
                font-weight: 400;
                line-height: 2em;
            }
        }
    }

    .footer__social {
        padding: $small-spacer;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $medium-spacer;

        &--icon {
            margin: 0 $small-spacer;
            width: 2em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    p {
    }

    .footer__logo {

        &--container {
            padding: $small-spacer;
            width: 100%;
            text-align: center;
        }

        &--image {
            fill:hsl(0, 0%, 98%);
            width: 50%;
        }
    }

    .footer__copyright {
        display: block;
        text-align: center;
        margin-bottom: $medium-spacer;
        color: hsl(227, 12%, 61%);
        font-size: $font-small;
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-image: linear-gradient(hsla(227, 12%, 61%, 0), hsla(227, 12%, 61%, 0.5) ) ;
}

.modal {
    z-index: 3;
    position: fixed;
    left: 10vw;
    top: 20vh;
    width: 80vw;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    padding: $medium-spacer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.closed {
    display: none;
}

.attribution {
    color: $secondary-solour-4;
    border-top: $secondary-solour-4 dashed 1px;
    padding-top: $small-spacer;
    width: 100%;
    text-align: center;

    & a {
        color: $secondary-solour-1;
    }
}