@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;1,700&display=swap");
* {
  size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #1d1e25;
  box-sizing: border-box; }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 150px -5%; }
  body p,
  body li {
    line-height: 2em;
    color: #1d1e25; }

.sr-only {
  display: none; }

main,
footer,
.cta-bar {
  padding: 1em; }

li {
  list-style: none; }

button {
  color: #fafafa;
  background-color: #f25f3a;
  border: 1px transparent dotted;
  border-radius: 30px;
  padding: 1em 2em;
  height: 4em;
  font-weight: 700;
  box-shadow: 0 5px #ffefeb; }
  button:hover {
    color: #ffefeb;
    cursor: pointer; }

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center; }
  header .logo {
    width: 10em;
    padding: 1em;
    align-self: start; }
  header nav {
    display: none; }
  header button {
    display: none; }
  header .menu-toggle__icon {
    width: 1.5em;
    height: 4px;
    display: block;
    background-color: #1d1e25;
    position: relative;
    z-index: 5; }
    header .menu-toggle__icon::before, header .menu-toggle__icon::after {
      width: 100%;
      content: '';
      height: 4px;
      display: block;
      background-color: #1d1e25;
      position: absolute;
      left: 0; }
    header .menu-toggle__icon::before {
      transform: translateY(8px); }
    header .menu-toggle__icon::after {
      transform: translateY(-8px); }

main {
  display: flex;
  flex-direction: column; }
  main .main__stat-charts img {
    width: 100%; }
  main .main__intro,
  main .main__text {
    text-align: center;
    margin-bottom: 5em; }
    main .main__intro h1,
    main .main__text h1 {
      font-size: 3em; }
    main .main__intro h2,
    main .main__text h2 {
      font-size: 2em; }
  main .main__promotion--item {
    display: grid;
    grid-template-columns: 4em auto;
    grid-template-rows: auto auto;
    gap: 2em;
    margin-bottom: 2em; }
    main .main__promotion--item h3 {
      margin: 0;
      background-color: #f25f3a;
      padding: 0.5em;
      border-radius: 30px;
      width: 100%;
      text-align: center;
      color: #fafafa;
      z-index: 1; }
    main .main__promotion--item h4 {
      margin: 0;
      justify-self: start;
      font-weight: 700;
      padding: 0.5em 2em;
      background-color: #ffefeb;
      width: 200%;
      transform: translateX(-1em); }
    main .main__promotion--item p {
      grid-column-start: 1;
      grid-column-end: 3;
      font-weight: 300;
      color: #9095a7;
      margin: 0; }

.slideshow {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center; }
  .slideshow h2 {
    font-size: 2em;
    font-weight: bolder; }
  .slideshow .slideshow__slider {
    display: flex;
    width: 400%;
    padding: 3em 0;
    overflow: hidden; }
    .slideshow .slideshow__slider .slideshow__slider--item {
      width: 100%;
      padding: 2em 1em 0 1em;
      margin: 0.5em;
      background-color: #fafafa;
      position: relative; }
      .slideshow .slideshow__slider .slideshow__slider--item p {
        color: #9095a7; }
      .slideshow .slideshow__slider .slideshow__slider--item .avatar {
        width: 5em;
        position: absolute;
        top: 0em;
        transform: translate(-50%, -50%); }
  .slideshow button {
    display: block;
    margin: 1em auto; }

.cta-bar {
  background-image: url(/images/bg-simplify-section-desktop.svg);
  background-size: cover;
  background-color: #f25f3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 2em; }
  .cta-bar h2 {
    font-size: 3em;
    text-align: center;
    color: #ffefeb;
    max-width: 600px; }
  .cta-bar__button {
    color: #f25f3a;
    background-color: #fafafa;
    box-shadow: initial; }
    .cta-bar__button:hover {
      cursor: pointer;
      color: #f25f3a; }

footer {
  background-color: #1d1e25;
  display: flex;
  flex-direction: column;
  justify-content: stretch; }
  footer .footer__form {
    padding: 1em;
    display: flex;
    margin-top: 2em;
    width: 400px; }
    footer .footer__form--text-field {
      padding: 0 2em;
      border-radius: 30px;
      height: 4em;
      color: #9095a7; }
    footer .footer__form--button {
      margin: 0 2em;
      box-shadow: initial; }
  footer .footer__shortcuts {
    display: flex;
    justify-content: space-evenly;
    padding: 1em; }
    footer .footer__shortcuts ul {
      display: flex;
      flex-flow: column; }
      footer .footer__shortcuts ul li {
        color: #fafafa;
        text-align: left;
        display: block;
        font-weight: 400;
        line-height: 2em; }
        footer .footer__shortcuts ul li:hover {
          cursor: pointer;
          color: #f25f3a; }
  footer .footer__social {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em; }
    footer .footer__social--icon {
      margin: 0 1em;
      width: 2em; }
      footer .footer__social--icon:hover {
        cursor: pointer;
        fill: #f25f3a; }
  footer .footer__logo--container {
    padding: 1em;
    width: 100%;
    text-align: center; }
  footer .footer__logo--image {
    fill: #fafafa;
    width: 50%;
    max-width: 300px; }
  footer .footer__copyright {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    color: #9095a7;
    font-size: 0.75em; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-image: linear-gradient(rgba(144, 149, 167, 0), rgba(144, 149, 167, 0.5)); }

.modal {
  z-index: 3;
  position: fixed;
  left: 10vw;
  top: 20vh;
  width: 80vw;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.closed {
  display: none; }

.attribution {
  color: #fafafa;
  border-top: #fafafa dashed 1px;
  padding-top: 1em;
  width: 100%;
  text-align: center; }
  .attribution a {
    color: #9095a7; }

@media (min-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 2em; }
    header .menu-toggle__icon {
      display: none; }
    header nav {
      display: initial;
      width: 50%; }
      header nav ul {
        display: flex;
        justify-content: space-around; }
        header nav ul li:hover {
          cursor: pointer;
          color: #9095a7; }
    header button {
      display: initial; }
  main {
    padding: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em; }
    main .main__promotion--item h4 {
      background-color: initial;
      width: auto;
      transform: initial; }
    main .main__promotion--item p {
      grid-column-start: 2; }
  .cta-bar {
    padding: 2em;
    flex-direction: row;
    justify-content: space-around; }
    .cta-bar h2 {
      text-align: left; }
  footer {
    padding: 2em; } }
